html {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#card-formulario {
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 700;
  text-align: center;
}

form {
  width: 300px;
  margin: 0 auto;
}

input[type="text"],
input[type="date"] {
  width: 93%;
  padding: 8px;
  margin: 5px 0 15px 0;
  border-radius: 8px;
}

input[type="submit"] {
  width: 300px;
  margin: 15px 0 35px 0;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
